body {
    padding-right: 20px;
}

input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
}


input:focus {
    border: 2px solid orange;
    border-bottom: 1px solid orange;

}